<h4 class="text-danger">Uh oh! No meetings are currently available</h2>
<p>
Please understand that it may take us quite a while to get to your house because we want to model maintaining "balance" in our lives for each of you so that we will have margins in our lives as opposed to stress!  Our goal is to visit 2 homes each week, so you can see this may take awhile, but... "slow and stead wins the race"!!
</p>
<p>
Please check back later, or you can <a href="/feedback">give us feedback</a> so we can let you know when more availability comes up!
</p>

